.waiting{
  /* padding: 5px 10px; */
  /* color: white; */
  color: rgb(31, 15, 198);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px 0 0 18px;
}

.published{
  /* padding: 5px 10px; */
  /* color: white; */
  color: rgb(74, 143, 13);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px 0 0 18px;
}
.unpublished{
  padding: 5px 10px;
  /* color: white; */
  color: #555;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px 0 0 18px;
}
.delete{
  position: absolute;
  top:0;
  right:0;
  /* background-color: rgba(7, 7, 7, 0.194); */
  /* margin: 12px 10px 0 0; */
}
.folder_menu{
  position: absolute;
  top:0;
  right:0px;
  /* background-color: rgba(7, 7, 7, 0.194); */
  /* margin: 12px 10px 0 0; */
}

.dialog_container{
  padding: 25px 30px;
}
.dialog_container h1{
  margin-bottom: 15px;
}

.breadcrumb_container{
  cursor: pointer;
  margin: 10px 0;
}

.change_location_container{
  position:fixed;
  top: 70px;
  right: 20px;
  padding: 0px 10px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  box-shadow: 0 2px 2px -2px rgb(16, 16, 16);
}