.header_container{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 95%;
  color: white;
  height: 75px;
}
.header_container h1{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Jua', sans-serif !important;
  letter-spacing: 2px;
}
.header_container.add_background{
  background-color: white;
  color: #814ad8;
  height: 55px; 
}

.menu_icon{
  margin-left: 8px;
  margin-right: 18px;
  font-size: 26px;
}

.border{
  height: 10px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}